<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Node socket.io Demo</h1>
  <div >
      <h1> Please Login to Chat</h1>
      <p>Login with:
        <a href="/auth/google">Login with Google</a>
      </p>
    </div>
</body>
</html>
